.outerContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6em 0;
}

.container {
  background-color: var(--primary-color);
  border-radius: 0.5em;
  padding: 1.5em 2.2em 1.8em 2.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  text-decoration: underline;
  text-decoration-color: var(--background-color);
  font-size: 1.8rem;
  margin-bottom: 0.8em;
}

.container form,
.container label {
  display: flex;
  flex-direction: column;
}

.container label {
  font-size: 1.4rem;
  margin-bottom: 0.7em;
  font-weight: 500;
}

.container input {
  width: 30ch;
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 1.1rem;
  border: none;
}

.container a {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.8em;
}

.backLink {
  position: absolute;
  top: 1em;
  left: 2em;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.error {
  margin-bottom: 1em;
  font-size: 1.1rem;
}
