.container {
  display: flex;
  gap: 1em;
  margin-top: 4em;
  padding: 0 var(--horizontal-padding);
}

.img {
  max-width: 25rem;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 6/9;
  border-radius: var(--border-radius);
}

.infoContainer {
  background-color: var(--primary-color);
  padding: 1.2em 1.7em 1.5em 1.7em;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-width: 38rem;
}

.infoContainer h1 {
  margin-bottom: 0.5em;
  text-decoration: underline;
  text-decoration-color: var(--background-color);
  font-size: 2.2rem;
}

.infoContainer ul {
  padding-left: 0;
}

.infoContainer li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7em;
}

.label {
  font-weight: 700;
  font-size: 1.1rem;
}

.description {
  overflow: scroll;
  margin-bottom: 1em;
}

.infoContainer button {
  align-self: flex-end;
  height: min-content;
}
