.button {
  align-items: center;
  gap: 0.5em;
  padding: 0.6em 1em;
  padding-left: 0.6em;
  background-color: var(--attention-color);
  font-size: 1.5rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  width: min-content;
  white-space: nowrap;
  padding-right: 2.8em;
}
