.label input {
  padding: 0;
  width: min-content;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  width: 17rem;
}

.img {
  max-width: 15rem;
  object-fit: cover;
  aspect-ratio: 6/9;
  border-radius: var(--border-radius);
  margin-bottom: 0.8em;
}
