.container {
  display: flex;
  margin-top: 5em;
}

.textContainer {
  margin-top: 5em;
}

.title {
  font-size: 2.25rem;
}

.description {
  font-size: 1.625rem;
  line-height: 160%;
  max-width: 34rem;
  margin-bottom: 1.7em;
}

.container button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 0.6em;
  background-color: var(--attention-color);
  font-size: 1.5rem;
}

.heroImg {
  margin-left: -7rem;
}
