.container {
  width: 100%;
  display: grid;
  border-radius: var(--border-radius);
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

.nameContainer {
  padding: 0.6em 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messagesContainer,
.nameContainer,
.inputContainer {
  background-color: var(--background-color-variation);
  border-radius: var(--border-radius);
}

.inputContainer input {
  background: none;
  border: none;
  padding: 0.6em 0.8em;
  color: white;
  width: 100%;
}

.inputContainer input::placeholder {
  color: rgb(203, 203, 203);
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer {
  display: flex;
}

.inputContainer button {
  background-color: var(--text-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
