.container {
  width: 100%;
  display: grid;
  border-radius: var(--border-radius);
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  max-height: 100%;
  overflow: hidden;
}

.nameContainer {
  padding: 0.6em 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messagesContainer {
  padding: 0.8em 0.3em 0.8em 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
  overflow-y: hidden;
}

.messagesContainer ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  overflow-y: scroll;
}

.messagesContainer ul::-webkit-scrollbar-track,
.messagesContainer ul::-moz-scrollbar-track,
.messagesContainer ul::-ms-scrollbar-track {
  background: none;
}

/* .messagesContainer ul::-webkit-scrollbar-thumb,
.messagesContainer ul::-moz-scrollbar-thumb,
.messagesContainer ul::-ms-scrollbar-thumb {
  background: red;
} */

.messagesContainer li {
  list-style-type: none;
  background-color: var(--background-color);
  padding: 0.4em 0.8em;
  border-radius: var(--border-radius);
}

.isNotUsers {
  align-self: flex-start;
}

.isUsers {
  align-self: flex-end;
  margin-right: 1em;
}

.messagesContainer,
.nameContainer,
.inputContainer {
  background-color: var(--background-color-variation);
  border-radius: var(--border-radius);
}

.inputContainer input {
  background: none;
  border: none;
  padding: 0.6em 0.8em;
  color: white;
  width: 100%;
}

.inputContainer input::placeholder {
  color: rgb(203, 203, 203);
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer {
  display: flex;
}

.inputContainer button {
  background-color: var(--text-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.messagesContainer .bottomLi {
  background: none;
  width: 0;
  height: 0;
  padding: 0;
}
