.container {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  aspect-ratio: 9/12;
  /* max-width: 20rem; */
}

.img {
  z-index: -10;
  border-radius: 0.4em;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 0.5em;
  border-top-left-radius: 0.2em;
  border-bottom-right-radius: 0.4em;
  color: var(--text-color);
}
