.container {
  background-color: var(--primary-color);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--background-color);
  margin-bottom: 0.9em;
}

.container p {
  font-size: 1.625rem;
  max-width: 34rem;
  text-align: center;
}

.container .bankP {
  margin-top: 0.8em;
  font-size: 1.375rem;
}

.bankP span {
  font-size: 1.625rem;
  font-weight: 700;
}
