.container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  border-radius: var(--border-radius);
  gap: 1.4em;
}

.container label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.1rem;
}

.container input {
  width: 19rem;
  padding: 0.2em;
}

.container textarea {
  width: 100%;
  resize: none;
}
